.loginblock {
    text-align:center;
    padding-top: 90px;
}

.loginblock input {
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    width: 450px;
    height: 42px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius:5px;
    font-size: 14px;
    padding: 0 30px 0 50px;
    outline: none;
}

.loginblock button{
    color: #fff;
    background-color: #59B2E0;
    border-radius: 5px;
    font-size: 18px;
    height: 50px;
    width: 150px;
}

.loginblock button:hover {
    background-color: #53A3CD;
    border-radius: 5px;
}
