body {
    font-family: Montserrat;
}

.registerblock input {
    box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    width: 450px;
    height: 42px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius:5px;
    font-size: 14px;
    padding: 0 20px 0 50px;
    outline: none;
}

.registerblock button{
    color: #fff;
    background-color: #59B2E0;
    border-radius: 5px;
    font-size: 18px;
    height: 50px;
    width: 150px;
}

.registerblock button:hover {
    background-color: #53A3CD;
    border-radius: 5px;
}